doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header
      nav
        div.school-title Rad High School

        div.nav-content
          ul
            li
              a(href="/courses") Courses
            li
              a(href="/students") Students
        div
    div.container
      div.content-container
        block content
